<div class="katakana-container">

  <div class="seion-container">
    <h1 id="seion">清音 (Seion)</h1>
      <table>
        <tr><td>ア</td><td>a</td><td>イ</td><td>i</td><td>ウ</td><td>u</td><td>エ</td><td>e</td><td>オ</td><td>o</td></tr>
        <tr><td>カ</td><td>ka</td><td>キ</td><td>ki</td><td>ク</td><td>ku</td><td>ケ</td><td>ke</td><td>コ</td><td>ko</td></tr>
        <tr><td>サ</td><td>sa</td><td>シ</td><td>shi</td><td>ス</td><td>su</td><td>セ</td><td>se</td><td>ソ</td><td>so</td></tr>
        <tr><td>タ</td><td>ta</td><td>チ</td><td>chi</td><td>ツ</td><td>tsu</td><td>テ</td><td>te</td><td>ト</td><td>to</td></tr>
        <tr><td>ナ</td><td>na</td><td>ニ</td><td>ni</td><td>ヌ</td><td>nu</td><td>ネ</td><td>ne</td><td>ノ</td><td>no</td></tr>
        <tr><td>ハ</td><td>ha</td><td>ヒ</td><td>hi</td><td>フ</td><td>fu</td><td>ヘ</td><td>he</td><td>ホ</td><td>ho</td></tr>
        <tr><td>マ</td><td>ma</td><td>ミ</td><td>mi</td><td>ム</td><td>mu</td><td>メ</td><td>me</td><td>モ</td><td>mo</td></tr>
        <tr><td>ヤ</td><td>ya</td><td></td><td></td><td>ユ</td><td>yu</td><td></td><td></td><td>ヨ</td><td>yo</td></tr>
        <tr><td>ラ</td><td>ra</td><td>リ</td><td>ri</td><td>ル</td><td>ru</td><td>レ</td><td>re</td><td>ロ</td><td>ro</td></tr>
        <tr><td>ワ</td><td>wa</td><td></td><td></td><td></td><td></td><td></td><td></td><td>ヲ</td><td>wo</td></tr>
        <tr><td>ン</td><td>n</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      </table>
  </div>

  <div class="dakuon-container">
    <h1>濁音 (Dakuon)</h1>
    <table>
        <tr><td>ガ</td><td>ga</td><td>ギ</td><td>gi</td><td>グ</td><td>gu</td><td>ゲ</td><td>ge</td><td>ゴ</td><td>go</td></tr>
        <tr><td>ザ</td><td>za</td><td>ジ</td><td>ji</td><td>ズ</td><td>zu</td><td>ゼ</td><td>ze</td><td>ゾ</td><td>zo</td></tr>
        <tr><td>ダ</td><td>da</td><td>ヂ</td><td>ji</td><td>ヅ</td><td>zu</td><td>デ</td><td>de</td><td>ド</td><td>do</td></tr>
        <tr><td>バ</td><td>ba</td><td>ビ</td><td>bi</td><td>ブ</td><td>bu</td><td>ベ</td><td>be</td><td>ボ</td><td>bo</td></tr>
    </table>
  </div>

  <div class="handadakuon-container">
    <h1>半濁音 (Handakuon)</h1>
    <table>
        <tr><td>パ</td><td>pa</td><td>ピ</td><td>pi</td><td>プ</td><td>pu</td><td>ペ</td><td>pe</td><td>ポ</td><td>po</td></tr>
    </table>
  </div>

  <div class="youon-container">
    <h1 id="youon">拗音 (Youon)</h1>
    <table>
      <tr><td>キャ</td><td>kya</td><td>キュ</td><td>kyu</td><td>キョ</td><td>kyo</td></tr>
      <tr><td>シャ</td><td>sha</td><td>シュ</td><td>shu</td><td>ショ</td><td>sho</td></tr>
      <tr><td>チャ</td><td>cha</td><td>チュ</td><td>chu</td><td>チョ</td><td>cho</td></tr>
      <tr><td>ニャ</td><td>nya</td><td>ニュ</td><td>nyu</td><td>ニョ</td><td>nyo</td></tr>
      <tr><td>ヒャ</td><td>hya</td><td>ヒュ</td><td>hyu</td><td>ヒョ</td><td>hyo</td></tr>
      <tr><td>ミャ</td><td>mya</td><td>ミュ</td><td>myu</td><td>ミョ</td><td>myo</td></tr>
      <tr><td>リャ</td><td>rya</td><td>リュ</td><td>ryu</td><td>リョ</td><td>ryo</td></tr>
      <tr><td>ギャ</td><td>gya</td><td>ギュ</td><td>gyu</td><td>ギョ</td><td>gyo</td></tr>
      <tr><td>ジャ</td><td>ja</td><td>ジュ</td><td>ju</td><td>ジョ</td><td>jo</td></tr>
      <tr><td>ビャ</td><td>bya</td><td>ビュ</td><td>byu</td><td>ビョ</td><td>byo</td></tr>
      <tr><td>ピャ</td><td>pya</td><td>ピュ</td><td>pyu</td><td>ピョ</td><td>pyo</td></tr>    
    </table>
  </div>
</div>
