<nav>
  <ul>
    <li>
      <a routerLink="/hiragana">平假名</a>
      <ul>
        <!-- <li><a routerLink="/hiragana#seion">清音</a></li>
        <li><a routerLink="/hiragana#handakuon">半濁音</a></li>
        <li><a routerLink="/hiragana#youon">拗音</a></li>
        <li><a routerLink="/hiragana#chouon">長音</a></li>
        <li><a routerLink="/hiragana#sokuon">促音</a></li> -->
      </ul>
    </li>
    <li><a routerLink="/katakana">片假名</a></li>
    <li><a routerLink="/quiz">測驗</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
